body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(-50deg, #3f3d3d, #623300, #671800, #212223);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    animation: change 5s ease-in-out infinite;
}
@keyframes change {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.task {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.task h2 {
    text-align: center;
}

.task p {
    text-align: center;
    margin-bottom: 20px;
}

.task form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task div {
    margin-bottom: 10px;
}

.task label {
    color: white;
}

.task input[type="email"],
.task input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: white;
}

.task button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.task button:hover {
    background-color: #45a049;
}


.navbar {
    width: 200px;
    background-color: #671800FF;
    display: flex;
    flex-direction: column;
}

.navbar a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.content {
    flex: 1;
}
/*** TERMINAL ***/
.terminal-box {
  background-color: #000;
  color: #00FF00;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  font-family: 'Courier New', Courier, monospace;
  max-width: 600px;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
}

.terminal-content {
  white-space: pre-line;
  position: relative;
}

/* Cursor effect */
.terminal-content::after {
  content: "|";
  animation: blink 1s step-end infinite;
  display: inline-block;
  vertical-align: bottom;
}

/* Text typing animation */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.testlogo {
    width: 200px;
    height: 200px;
}
.amocana3 {
        text-decoration: none;
        color: white;
    }