<!doctype html>
<html lang="en">
<head>
<!--    shemdegi bmulis misamartia "okay"-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hidden</title>
</head>
<body>
    <img class="align-content-center" src="https://creatorset.com/cdn/shop/products/agentsmith_530x@2x.png?v=1651321495">
    <h2 class="text-center">სწორად მიდიხარ...</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>გააგრძელე შემდეგი ბმულის ძებნა...</p>
</body>
</html>