<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
<!--            <button id="toggleNav">☰</button>-->
            <div class="navbar-links">
                <a href="/">მთავარი</a>
                <a href="/task1">ამოცანა 1</a>
                <a href="#">ამოცანა 2</a>
<!--                <a href="/task3">ამოცანა 3</a>-->
                <a href="#">ამოცანა 4</a>
                <a href="#">ამოცანა 5</a>
                <a href="#">ამოცანა 6</a>
                <a href="#">ამოცანა 7</a>
                <a href="#">ამოცანა 8</a>
                <a href="#">ამოცანა 9</a>
                <a href="#">ამოცანა 10</a>
            </div>
        </div>
        <div class="content">
            <div class="col-lg-6 text-center text-lg-start">
                <div class="terminal-box">
                    <div class="terminal-content" id="terminal-content"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
