<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<form action="/" method="GET">
    <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white">მთავარი</button>
</form>
<!--<div class="container">-->
<div class="task">
    <h2>ამოცანა 2</h2>
    <style>
        .container {
            width: 80%;
            margin: 0 auto;
            background-color: lightblue;
            padding: 20px;
        }

        @media screen and (max-width: 600px) {
            .container {
                width: 100%;
                background-color: lightgreen;
            }
        }
    </style>
    <body>
    <div class="container">
        <h1>ამოცანა<br> რესფონსივ დიზაინის შესახებ</h1>
        <p>შეამცირე ეკრანის რეზოლუცია<br> გაშიფრე აღნიშნული ქეისი</p>
    </div>
</div>
</body>
</html>