<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 5</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<form action="/" method="GET">
    <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white">მთავარი</button>
</form>
<div class="container">
    <div class="task">
        <h2>ამოცანა 5</h2>
        <p>აღნიშნულ ამოცანაში თქვენ გევალებათ გადახვიდეთ აღნიშნულ ბმულზე და გატესტოთ ვებ-გვერდი.<br>
            ჩამოწერეთ ყველა შესაძლო <b>ნეგატიური</b> ტესტ-ქეისი, ვებ-გვერდზე გადასასვლელად დააჭირეთ ღილაკს:</p>
        <form action="https://saucedemo.com" method="GET">
            <button type="submit" style="padding: 10px 20px; background-color: #e7310e; color: white">გაგრძელება</button>
        </form>
    </div>
</div>
</body>
</html>